.hero {
  max-width: 900px;
  margin: auto;
  line-height: 0px;
  letter-spacing: 0px;
}

.hero h1 {
  font-size: 80px;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.2rem;
  color: #555;
}

.content {
  max-width: 900px;
  margin: auto;
  padding: 2rem;
  line-height: 1.7;
}

.content h2 {
  margin-top: 2.5rem;
  font-size: 60PX;
}

.content p {
  margin-top: 1rem;
  text-align: justify;

}

.RISO{
  font-family: var(--font-riso);
  font-size: 300px;
  line-height: 0px;
  letter-spacing: 30px;
}
